<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Proposta</title>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebarslatest/dist/handlebars.min.js"></script>
    <style>
        :root {
  
        --collor-1: #5E503F;
        --collor-2: #C6AC8F;
        --collor-3: #EAE0D5;

        }


        html {
        -webkit-text-size-adjust: 100%;
        font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
            Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
            Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
        line-height: 1.5;
        tab-size: 4;
        scroll-behavior: smooth;
        }

        body {
            width: 100%;
        }

        *,
        ::before,
        ::after {
        box-sizing: border-box;
        border-width: 0;
        border-style: solid;
        border-color: currentColor;
        margin: 0px;
        padding: 0px;
        }
        h1,
        h2 {
        font-size: inherit;
        font-weight: inherit;
        }

        

    </style>
</head>
<body>

    <div class="container">

        <div class="form">
            <h2>Dados</h2>
            <br>

            <div>
                Nome: {{name}}
            </div>

            <div>
                Email: {{email}}
            </div>
            
            <div>
                Aplicação: {{application}}
            </div>
            <br>

            <div>
                Descrição:<br>
                {{description}}                
            </div>
        </div>

    </div>
</body>
</html>